/*----------------------
   Post content
-----------------------*/
.hentry {
	margin: 0 0 1.5em;
}

.entry-header{

}

.entry-content{
    padding: 1.5em 0;

    p {
        margin: 0 0 1.5em;
    }

    blockquote {
        margin: 0 0 1.5em 0.75em;
        padding: 0 0 0 0.75em;
        border-left: 3px solid $main-color;
        font-style: italic;
        color: $gray;
    }

    dd {
        margin-left: 0;
        font-size: 0.9em;
        color: #787878;
        margin-bottom: 1.5em;
    }

    img {
        margin: 0 0 1.5em 0;
        max-width: 100%;
        height: auto;
    }

    .size-auto,
    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail {
        max-width: 100%;
        height: auto;
    }

    pre {
        background: $light-gray;
        padding: 1.5em;
        font-size: 16px;
        margin: 0 0 1.5em;
        border-radius: 3px;
        overflow-x: scroll;
    }

    ul{
        list-style: disc;
        padding-left: 2em;
    }

}


/*----------------------
   Admin Editor
-----------------------*/
.wp-editor{
    @extend .entry-content;
    margin: 1.5em;
}

